DATABASE_URL=postgresql://postgres.acqsozadtwlwbnqrtroe:Allahcom10HostelGH@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://postgres.acqsozadtwlwbnqrtroe:Allahcom10HostelGH@aws-1-eu-central-1.pooler.supabase.com:5432/postgres?sslmode=require
JWT_ACCESS_SECRET="6f2f49c3907de6876af364dda8e5ea0db2e5fb6c3ad20fc549f3bd3b87baed54"
JWT_REFRESH_SECRET="2086d4984feb0e37ab825d13a481618df27cf2730f38945d291ff58534eb1a61"
PAYSTACK_SECRET_KEY="sk_live_cb7ec12ca081fbe25dd82d7b7624aae0de087447"
PAYSTACK_WEBHOOK_SECRET="sk_live_cb7ec12ca081fbe25dd82d7b7624aae0de087447"
APP_URL="https://hostelgh.onrender.com"
PORT=3000

RESEND_API_KEY="re_..."
EMAIL_FROM="HostelGH <no-reply@yourdomain.com>"
